<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registro</title>
</head>
<body>
	<header><h1>Esta es la pagina de registro de usuarios</h1></header>

	<form action="" method="POST">
		Nombre: <input type="text" name="Nombre"><br>
		Apellido : <input type="text" name="Apellido"><br>
		Codigo estudiantil : <input type="text" name="Codigo"><br>
		Correo : <input type="email" name="Correo"><br>
		<p id="reg" style="margin:0">Por favor colocar su carné estudiantil en el dipositivo para su escaneo. <input type="button" name="scan" value="Escanear"></p>
		
		<input type="submit" value="Registrar">
	</form>
	

</body>
</html>